.landing-page {
  background-color: #161414;
  width: 100%;
  height: 100vh;
  min-width: unset;
  min-height: unset;
  position: relative;
  overflow: hidden;
}

.landing-page .texture {
  position: absolute;
  top: 0;
  left: 0;
  width: 1440px;
  height: 1024px;
}

.landing-page .text {
  position: absolute;
  top: 484px;
  left: 414px;
  width: 612px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #cfcfcf;
  font-size: 28px;
  text-align: center;
  letter-spacing: 0;
  line-height: 44.8px;
}

.landing-page .hero-buttons {
  display: inline-flex;
  align-items: center;
  gap: 22px;
  position: absolute;
  top: 599px;
  left: 553px;
}

.landing-page .button {
  all: unset;
  box-sizing: border-box;
  display: flex;
  width: 141px;
  height: 50px;
  align-items: center;
  justify-content: center;
  gap: var(--item-spacing-16);
  padding: 16px 32px;
  position: relative;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid;
}

.landing-page .text-wrapper {
  width: fit-content;
  margin-top: -5.00px;
  margin-bottom: -3.00px;
  margin-left: -9.50px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #22211f;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25.2px;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page .SVG-margin {
  position: relative;
  max-width: var(--item-spacing-16);
  width: 16px;
  height: 24px;
  margin-top: -3.00px;
  margin-bottom: -3.00px;
  margin-right: -9.50px;
}

.landing-page .SVG {
  display: flex;
  flex-direction: column;
  max-width: var(--item-spacing-24);
  width: 24px;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  left: -4px;
}

.landing-page .frame {
  position: relative;
  flex: 1;
  width: 24px;
  flex-grow: 1;
}

.landing-page .vector {
  position: absolute;
  width: 38.31%;
  height: 74.67%;
  top: 12.67%;
  left: 31.42%;
}

.landing-page .div {
  all: unset;
  box-sizing: border-box;
  width: 170px;
  height: 50px;
  gap: var(--item-spacing-16);
  padding: 16px 32px;
  border-radius: 4px;
  border: 1px solid;
  border-color: #ffffff;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page .button-2 {
  width: fit-content;
  margin-top: -5.00px;
  margin-bottom: -3.00px;
  margin-left: -11.00px;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #ffffff;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 25.2px;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page .SVG-wrapper {
  position: relative;
  max-width: var(--item-spacing-16);
  width: 16px;
  height: 24px;
  margin-top: -3.00px;
  margin-bottom: -3.00px;
  margin-right: -11.00px;
}

.landing-page .nav-bar {
  display: flex;
  width: 1440px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  padding: 38px 45px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #dedede;
}

.landing-page .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -11.00px;
  margin-bottom: -9.00px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 700;
  color: #22211f;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}

.landing-page .frame-2 {
  display: inline-flex;
  align-items: center;
  gap: 42px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -10.00px;
  margin-bottom: -10.00px;
}

.landing-page .nav-link {
  position: relative;
  width: 84px;
  height: 14px;
}

.landing-page .text-wrapper-3 {
  position: absolute;
  width: 84.52%;
  height: 100%;
  top: 0;
  left: 8.33%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #22211f;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}

.landing-page .div-wrapper {
  width: 70px;
  position: relative;
  height: 14px;
}

.landing-page .text-wrapper-4 {
  position: absolute;
  width: 85.71%;
  height: 100%;
  top: 0;
  left: 7.14%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #22211f;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}

.landing-page .nav-link-2 {
  width: 128px;
  position: relative;
  height: 14px;
}

.landing-page .text-wrapper-5 {
  position: absolute;
  width: 83.59%;
  height: 100%;
  top: 0;
  left: 8.59%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Inter-Regular", Helvetica;
  font-weight: 400;
  color: #22211f;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
  white-space: nowrap;
}